<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogLevel="Trace">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target name="default" xsi:type="File"
		        fileName="D:\Logging\MyToDoList\${shortdate}\${level}\${time}-${aspnet-mvc-action}.log"
		        layout="Logger: ${logger}${newline}Date: ${shortdate}${newline}Time: ${time}${newline}LogType: ${level}${newline}${message}${newline}"/>
	</targets>

	<rules>
		<logger name="*" minLevel="Info" writeTo="default"></logger>
	</rules>
</nlog>